$white: #fff;
$black: #000;
$main-color: $black;

$link-color: $black;
$bg-color: $white;
$main-style-color: #10c9c3;

$base-font-size: 1rem;
$base-line-height: 1.5;
$body-bg-color: #fff !default;
$body-second-bg-color: #f5f5f5;
$body-text-color: #000 !default;
$p-text-color: #818181 !default;
$body-font-family: "Montserrat", sans-serif;
$p-font-family: "Nunito Sans", sans-serif;
