.mobile-nav-holder {
  .nav_mobile {
    position: absolute;
    display: block;
    visibility: hidden;
    top: -99999px;
    transition: all 0.4s ease;

    .nav-list_mobile {
      list-style: none;
      padding: 65px 50px 30px;
      margin: 0;

      .nav-item_mobile {
        a:hover {
          color: $white;
        }
      }
    }
  }

  .btn-holder {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 5;

    .btn-holder__bar1,
    .btn-holder__bar2,
    .btn-holder__bar3 {
      width: 30px;
      height: 4px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
}

.change .btn-holder__bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .btn-holder__bar2 {
  opacity: 0;
}

.change .btn-holder__bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.change {
  .nav_mobile {
    visibility: visible;
    position: absolute;
    z-index: 3;
    background: $main-style-color;
    opacity: 0.95;
    width: 300px;
    min-height: 300px;
    margin: 0;
    border-radius: 50%;
    top: -45px;
    right: -40px;
  }
}
