.footer {
  background-color: #141414;
  color: #bcbcbc;
  font-family: $p-font-family;
  font-size: 0.9rem;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    .public-info {
      margin-bottom: 15px;

      .public-info__heading {
        font-family: $body-font-family;
        color: $white;
        font-size: 0.9rem;
        margin-bottom: 5px;
      }

      .public-info__text {
        color: #bcbcbc;
      }
    }

    .our-contacts {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 330px;

      .links__nav {
        .nav-list {
          padding: 0;
          margin: 0;
          list-style: none;

          .nav-item {
            .nav-item__link {
              color: #bcbcbc;

              &:hover {
                color: $main-style-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .footer {
    .container {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: 20px;

      .public-info {
        width: 165px;
        margin-bottom: 0;

        .public-info__heading {
          margin-bottom: 10px;
        }
      }

      .our-contacts {
        width: 105px;
      }

      .links {
        justify-content: space-around;
        width: 300px;
      }
    }
  }
}

@media (min-width: 767px) {
  .footer {
    .container {
      padding: 30px;

      .public-info {
        width: 205px;

        .public-info__heading {
          font-size: 1rem;
          margin-bottom: 15px;
        }
      }

      .our-contacts {
        width: 145px;
      }

      .links {
        width: 350px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    font-size: 0.9375rem;

    .container {
      padding: 50px 0;
      justify-content: space-around;

      .public-info {
        width: 255px;

        .public-info__heading {
          font-size: 1.125rem;
          margin-bottom: 25px;
        }
      }

      .our-contacts {
        width: 195px;
      }

      .links {
        width: 400px;
      }
    }
  }
}
