.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0;

  a {
    text-transform: uppercase;
    padding: 0 10px;
    position: relative;
    font-size: 0.85rem;

    &:hover {
      color: $main-style-color;
    }
  }

  .nav_desktop {
    display: none;
  }
}

@media (min-width: 640px) {
  .header {
    padding: 10px 0;
  }
}

@media (min-width: 767px) {
  .header {
    padding: 20px 0;

    .mobile-nav-holder {
      display: none;
    }

    /*.btn-holder,
		.nav_mobile {
			display: none;
		}*/

    .nav_desktop {
      display: block;

      .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0;

    a {
      font-size: 1rem;
      padding: 0 15px;
    }
  }
}
