.box__previewbox {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box__preview {
  display: block;
  max-width: 100%;
}

.box__previewbox:before {
  content: "";
}

.box .box__previewbox:before {
  width: 0;
  height: 0;
  padding: 25%;

  background-color: var(--photoboxOverlay, rgba(0, 0, 0, 0.8));
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.box:hover .box__previewbox:before {
  transform: translate(-50%, -50%) scale(4);
  transition-duration: var(--photoboxAnimationDuration, 0.8s);
}

.box .box__label {
  width: 95%;
  text-align: center;

  transform: translate(-200%, -50%);
  transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease-out;
  will-change: transform;

  position: absolute;
  top: 50%;
  left: 50%;
}

.box:hover .box__label {
  transition-duration: calc(var(--photoboxAnimationDuration, 0.8s) / 4);
  transform: translate(-50%, -50%);
}
