.progress {
  position: relative;
  overflow: hidden;
  margin: 15px 0;

  progress {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -777px;
  }
}

.progress-bg {
  background: #e6e9ed;
  position: relative;
  height: 3px;
  overflow: hidden;
}

.progress-bar {
  overflow: hidden;
  background: $main-style-color;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

@for $i from 0 through 100 {
  .progress progress[value="#{$i}"] {
    & + .progress-value:before {
      content: "#{$i}%";
    }
    & ~ .progress-bg .progress-bar {
      width: $i * 1%;
    }
  }
}

@media (min-width: 767px) {
  .progress {
    margin: 20px 0;
  }
}

@media (min-width: 1024px) {
  .progress {
    margin: 30px 0;
  }
}
