.about {
  background: $body-bg-color;

  .about__info {
    text-align: center;
    margin: 10px auto;
    padding: 0 15px;

    .info__img {
      width: 150px;
      height: 50px;
    }
  }

  .about__progress {
    background: #f8f9f9;
    padding: 10px 15px;
    margin: 0;

    .about__heading {
      margin: 10px 0 15px;
      font-size: 0.95rem;
    }

    .progress__heading {
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    .progress {
      width: 290px;
    }
  }

  .about__image {
    display: none;
  }
}

@media (min-width: 640px) {
  .about {
    .about__info {
      margin: 20px auto;

      .info__img {
        width: 150px;
        height: 50px;
      }
    }

    .about__holder {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .about__holder,
    .about__image,
    .about__progress,
    .image {
      height: 300px;
    }

    .about__image {
      display: block;
    }

    .about__image,
    .about__progress {
      width: 50%;
    }

    .about__progress {
      margin: 0;

      .about__heading {
        margin: 40px 0 20px;
        font-size: 1rem;
      }

      .progress {
        width: 300px;
      }
    }
  }
}

@media (min-width: 767px) {
  .about {
    .about__info {
      margin: 30px auto;
      max-width: 600px;

      /*.info__heading {
                font-size: 1.6rem;
            }
            
            .info__text {
                font-size: 1rem;
            }*/

      .info__img {
        width: 223px;
        height: 57px;
      }
    }

    .about__holder,
    .about__image,
    .about__progress,
    .image {
      height: 350px;
    }

    .about__progress {
      padding: 15px 25px;

      .about__heading {
        margin: 45px 0 20px;
        font-size: 1.6rem;
      }

      .progress__heading {
        font-size: 0.75rem;
      }

      .progress {
        width: 320px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    background: $body-bg-color;
    background-image: linear-gradient($body-bg-color 38.3%, #f8f9f9 0%);
    .about__info {
      max-width: 635px;
      margin: 40px auto;
    }

    .about__holder,
    .about__image,
    .about__progress,
    .image {
      height: 450px;
    }

    .about__progress {
      padding: 25px;

      .about__heading {
        margin-bottom: 25px;
        font-size: 1.8rem;
      }

      .progress__heading {
        font-size: 0.85rem;
      }

      .progress {
        width: 450px;
      }
    }
  }
}
