.testimonials {
  background: $body-second-bg-color;
  background-image: linear-gradient(
    $body-second-bg-color,
    $body-second-bg-color 54%,
    $main-style-color 0%,
    $main-style-color 81%,
    $body-bg-color 81%
  );
  background-repeat: no-repeat;

  .services__info,
  .info__box {
    display: flex;
    align-items: center;
  }

  .services__info {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 0;

    .info__box {
      flex-direction: column;
      text-align: center;
      width: 160px;
      height: 120px;

      .box__heading {
        text-transform: uppercase;
        font-size: 0.8rem;
      }

      .box__text {
        font-size: 0.7rem;
      }
    }
  }

  .quote {
    background: $main-style-color;
    text-align: center;
    color: $white;
    padding: 10px;

    .quote__info {
      font-size: 0.9rem;
    }

    .quote__autor {
      font-size: 0.7rem;
      text-transform: uppercase;
    }
  }

  .services__clients {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    background: $white;

    .clients__link {
      width: 100px;
      margin: 15px 0;
      opacity: 0.7;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 640px) {
  .testimonials {
    .services__info {
      padding: 25px 0;
    }

    .quote {
      padding: 25px;

      .quote__info {
        font-size: 1rem;
      }

      .quote__autor {
        font-size: 0.8rem;
      }
    }

    .services__clients {
      height: 150px;

      .clients__link {
        margin: 25px 0;
      }
    }
  }
}

@media (min-width: 767px) {
  .testimonials {
    .services__info {
      .info__box {
        width: 170px;
        height: 170px;

        .box__text {
          font-size: 0.9rem;
        }
      }
    }

    .quote {
      padding: 60px 0;
      height: 250px;

      .quote__info {
        font-size: 1.2rem;
      }

      .quote__autor {
        font-size: 0.9rem;
      }
    }

    .services__clients {
      .clients__link {
        margin: 30px 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .testimonials {
    .services__info {
      padding: 35px 0;

      .info__box {
        padding-top: 20px;
        width: 250px;
        height: 220px;

        .box__heading {
          font-size: 1rem;
        }
      }
    }
  }
}
