.work {
  background: $main-style-color;
  background-image: linear-gradient(
    $main-style-color 26%,
    $body-second-bg-color 0%
  );
  background-repeat: no-repeat;

  .skills {
    background: $main-style-color;
    height: 240px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .skills__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info__data {
        font-size: 0.7rem; //maby will be need 0.6 rem
      }
    }
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .portfolio__box,
    .box__img {
      width: 160px;
      height: 160px;
    }

    .portfolio__box {
      overflow: hidden;
      &:hover {
        background: black;
        transition: all 0.3s ease;
      }
    }
  }

  .more {
    text-transform: uppercase;
    text-align: center;
    background: $body-second-bg-color;
    padding: 10px;

    .more_link {
      color: $p-text-color;
      font-size: 0.65rem;

      &:hover {
        color: $main-style-color;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 413px) {
  .work {
    .portfolio {
      .portfolio__box,
      .box__img {
        width: 187px;
        height: 187px;
      }
    }
  }
}

@media (min-width: 414px) and (max-width: 659px) {
  .work {
    .portfolio {
      .portfolio__box,
      .box__img {
        width: 207px;
        height: 207px;
      }
    }
  }
}

@media (min-width: 640px) {
  .work {
    .skills {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      .skills__info {
        padding: 20px;

        .info__data {
          font-size: 0.8rem;
        }
      }
    }

    /*.portfolio {
            .portfolio__box,
            .box__img {
                width: 249px;
                height: 249px;
            }
        } */

    .more {
      .more_link {
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 767px) {
  .work {
    .skills {
      flex-wrap: nowrap;

      .skills__info {
        padding: 0;
        .info__data {
          font-size: 0.9rem;
        }
      }
    }

    .portfolio {
      .portfolio__box,
      .box__img {
        width: 192px;
        height: 192px;
      }
    }
    .more {
      height: 80px;
      padding: 25px;

      .more_link {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 976px) and (max-width: 1023px) {
  .work {
    .portfolio {
      .portfolio__box,
      .box__img {
        width: 240px;
        height: 240px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .work {
    .skills {
      .skills__info {
        .info__data {
          font-size: 1rem;
        }
      }
    }

    .portfolio {
      .portfolio__box,
      .box__img {
        width: 256px;
        height: 256px;
      }
    }

    .more {
      height: 100px;
      padding: 30px;
    }
  }
}

@media (min-width: 1184px) {
  .work {
    .portfolio {
      .portfolio__box,
      .box__img {
        width: 292px;
        height: 292px;
      }
    }
  }
}
