.contact {
  background: $body-second-bg-color;

  .contact__info {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
  }

  .holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;

    .form {
      width: 320px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;

      button {
        padding: 15px;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 0.75rem;
      }

      .form__name,
      .form__email,
      .form__textarea,
      .form__title {
        margin-bottom: 20px;
      }

      .form__name,
      .form__email,
      .form__title {
        height: 35px;
      }

      .form__name,
      .form__email,
      .form__textarea,
      .form__title {
        width: 100%;
        border: none;
      }

      .form__textarea {
        height: 90px;
        resize: none;
      }
    }
  }
}

@media (min-width: 640px) {
  .contact {
    .contact__info {
      padding: 20px;
    }

    .holder {
      padding-bottom: 25px;

      .form {
        width: 600px;

        button {
          font-size: 0.85rem;
        }

        .form__name,
        .form__email,
        .form__textarea,
        .form__title {
          margin-bottom: 20px;
        }

        .form__name,
        .form__email,
        .form__title {
          height: 38px;
        }

        .form__name,
        .form__email {
          width: 48%;
        }

        .form__textarea {
          height: 100px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .contact {
    .contact__info {
      padding: 30px 0;
      max-width: 600px;
    }

    .holder {
      padding-bottom: 30px;

      .form {
        width: 600px;

        .form__textarea {
          height: 150px;
        }

        button {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .contact {
    .contact__info {
      max-width: 635px;
      padding: 40px 0;

      .info__heading {
        font-size: 1.8rem;
      }
    }

    .holder {
      padding-bottom: 40px;

      .form {
        width: 750px;
      }
    }
  }
}
