.visual {
  height: 100vh;
  max-height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .container {
    padding: 15px;
  }

  .welcome-block {
    position: absolute;
    max-width: 350px;

    .welcome-block__heading {
      margin: 20px 0 17px;
      font-size: 1.3rem;
    }
    .welcome-block__text {
      margin: 17px 0;
      font-size: 0.95rem;
    }

    .welcome-block__button {
      padding: 15px 10px;
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 640px) {
  .visual {
    max-height: 490px;

    .welcome-block {
      max-width: 400px;

      .welcome-block__heading {
        margin: 20px 0 17px;
        font-size: 1.3rem;
      }
      .welcome-block__text {
        margin: 17px 0;
        font-size: 1rem;
      }

      .welcome-block__button {
        padding: 20px 44px;
      }
      .welcome-block__button {
        font-size: 0.85rem;
      }
    }
  }
}

@media (min-width: 767px) {
  .visual {
    max-height: 520px;

    .welcome-block {
      left: 40%;
      max-width: 450px;

      .welcome-block__heading {
        margin: 20px 0 17px;
        font-size: 2rem;
      }
      .welcome-block__text {
        margin: 17px 0;
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .visual {
    max-height: 670px;

    .welcome-block {
      left: 50%;
      max-width: 500px;

      .welcome-block__heading {
        margin-bottom: 40px;
        font-size: 2.375rem;
      }
      .welcome-block__text {
        margin-bottom: 40px;
        font-size: 1.125rem;
      }
    }
  }
}
