.process {
  .process__info {
    text-align: center;
    margin: 15px auto;
    padding: 0 15px;
  }

  .process__video {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 170px;
  }
}

@media (min-width: 640px) {
  .process {
    .process__info {
      margin: 20px auto;
    }

    .process__video {
      width: 480px;
      height: 240px;
    }
  }
}

@media (min-width: 767px) {
  .process {
    .process__info {
      margin: 50px auto;
      max-width: 510px;
    }

    .process__video {
      width: 640px;
      height: 360px;
    }
  }
}

@media (min-width: 1024px) {
  .process {
    .process__info {
      max-width: 550px;
    }

    .process__video {
      width: 1024px;
      height: 570px;
    }
  }
}
