$mq-support: true;
$mq-fixed-value: false;
@import "base/var";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/burger-button";
@import "layout/progress-bar";
@import "layout/_section-visual";
@import "layout/_section-about";
@import "layout/_section-work";
@import "layout/_section-process";
@import "layout/_section-contact";
@import "layout/_section-testimonials";
@import "layout/_hover-box";

.page {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.button {
  color: $white;
  background-color: $main-style-color;
  max-width: 180px;
  max-height: 55px;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: 0.3s;

  &:hover {
    background-color: $white;
    color: $main-style-color;
  }
}

.info__heading,
.info__text {
  margin-bottom: 20px;
}

.info__heading {
  font-size: 1rem;
}

.info__text {
  font-size: 0.95rem;
}

@media (min-width: 640px) {
  .info__heading,
  .info__text {
    margin-bottom: 30px;
  }

  .info__heading {
    font-size: 1.3rem;
  }

  .info__text {
    font-size: 1rem;
  }
}

@media (min-width: 767px) {
  .info__heading {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .info__heading {
    font-size: 1.8rem;
  }
}
